/********* POST **********/
.post, .page {
	width: 620px;
	margin: 10px 10px;
	padding: 10px;
	background: #fff url('images/postBG.jpg') repeat-x;
	box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.99);
    -moz-box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.99);
    -webkit-box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.99);
	overflow: hidden;
}
.navigation {
	height: 50px;
}
.wp-paginate {
	width: 600px;
	text-align: center;
}
.post h2 {
	text-align: center;
}
#postTitle {
	text-decoration: none;
	color: black;
	font-size: 48px;
	text-shadow: 2px 2px 6px #333;
}
.type-post p {
	text-indent: 5em;
	margin: 10px 0;
}
.post .postDateTime {
	text-align: right;
}
.postmetadata {
	text-align: right;
}
/************ COMMENT REPLYS *************/
.post-meta-comments a {
	text-decoration: none;
	font-style: italic;
}
#comments-title, #reply-title {
	font-size: 34px;
	font-weight: bolder;
}
.commentlist {
	text-align: right;
}
.commentlist li {
	margin: 10px 0;
}
.commentlist div {
	clear:both;
}
.commentlist div img {
	float: none;
}
.commentlist div p {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
}

.comment .children li.depth-2 {
	margin-right: 100px;
}
.comment .children li.depth-3 {
	margin-right: 200px;
}
.comment .children li.depth-4 {
	margin-right: 300px;
}

/*********** COMMENT FORM **********/

#commentform {
	
}
#commentform p {
	margin: 5px;
}
#commentform p input, #commentform p label, #commentform p textarea, #contact-form-2 div input, #contact-form-2 div label, #contact-form-2 div textarea {
	padding: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #006;
}

#commentform p input, #commentform p textarea, #contact-form-2 div input, #contact-form-2 div textarea {
	background: #fff url('images/field_bg.png') repeat-x;	
	border: 2px solid #ccc;
}
#commentform span.required {
	font-family: Arial, Helvetica, sans-serif;	
	color: red;
}
#commentform .form-submit {
/*	position: relative;
	top: -110px;
	text-align: right;
*/	
}
#commentform .form-submit #submit {
	background: url(images/submit_bg.png) no-repeat;	
	cursor: pointer;
	color: white;
}
#commentform .form-submit #submit:hover {
	background-position: 0 -48px;
}

.comment-form-comment {
}